[Unit]
Description=Synchronizace obsahu kazde dve hodiny od 08 do 20 hodin

[Timer]
OnCalendar=*-*-* 08,10,12,14,16,18,20:00:00 Europe/Prague
AccuracySec=1s
RandomizedDelaySec=0
Persistent=false
Unit=obecni-web-legacy-sync.service

[Install]
WantedBy=timers.target
